.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    justify-content: center;
    margin: -200px 10%;
}
.projects-title{
    position: relative;
    display: flex;
    justify-content: center;
}
.projects-title h1{
    padding: 0px 15px;
    font-size: 60px;
    font-weight: 600;
    text-align: center;
}
.projects-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.projects-format{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid white;
    transition:0.4s;
    cursor:pointer;
}
.projects-format span{
    color: #B923E1;
    font-weight: 500;
}
.projects-container{
    display:grid;
    grid-template-columns: repeat(autofill, max-width);
    gap:70px;
    margin-bottom: 200px;
}
.projects-container a{
    text-decoration: none;
    color: white;

}
.projects-format h3{
    font-size: 28px;
    font-weight: 600;
}
.projects-format h2{
    font-size: 38px;
    font-weight: 800;
    background: linear-gradient(to left, #DA7C25 10.36%, #B923E1 102.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.projects-format h3{
    font-size: 28px;
    font-weight: 600;
}
.projects-format p{
    color:#d4d4d4 ;
    font-size: 24px;
    line-height: 40px;
}
.projects-readmore{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.projects-format:hover{
    border: 2px solid #ff00ff;
    background-image: linear-gradient(45deg,#3f0028,#582300);
    transform: scale(1.05);
    transition: 0.4s;
}


@media (max-width:420px){
    .projects-title{
        transform: scale(0.7);
        text-align: center;
        margin-bottom: -100px;
    }
    .projects-container{
        transform: scale(0.9);
        margin-left: 8px;
        margin-right: 8px;
    }
    .projects{
        gap: 0px;
        margin: -400px 0;
        margin-bottom: -300px;
    }
}