.navbar{
    display:flex;
    align-items:center ;
    justify-content: space-between;
    margin: 0% 2% 2% 0%;
}
.navbar img{
    scale: 0.5;
}
.nav-menu{
    display:flex;
    align-items:center;
    justify-content: center;
    list-style: none;
    gap: 35%;
    font-size: 20px;
    margin-right: 4%;
}
.nav-connect{
    padding:10px 20px;
    border-radius: 50px;
    background: linear-gradient(to left, #DA7C25 10.36%, #B923E1 102.06%);
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
}
.nav-connect:hover{
    transform: scale(1.08);
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    transition: 0.5s;
}
.nav-menu li:hover{
    transform: scale(1.08);
}
.nav-menu img{
    display: flex;
    margin: auto;
}
.anchor-link{
    color: #D8D8D8;
    text-decoration: none;
}

@media (max-width:768px){
    .navbar img{
        display: none;
    }
    .nav-connect{
        display: none;
    } 
    .nav-menu{
        margin-left: 30%;
        margin-right: 30%;
        display: flex;
        flex-direction: row;
        gap: 30%;
        font-size: 24px;
        justify-content: center;
    }
    .nav-menu p:hover{
        transition: 0.3s;
        transform: scale(1.08);
        color: #DF8908;
    }
}
@media (max-width:420px){
    .navbar img{
        display: none;
    }
    .nav-connect{
        display: none;
    } 
    .nav-menu{
        margin-left: 20%;
        margin-right: 30%;
        display: flex;
        flex-direction: row;
        gap: 18%;
        font-size: 17px;
        justify-content: center;
    }
    .nav-menu p:hover{
        transition: 0.3s;
        transform: scale(1.08);
        color: #DF8908;
    }
}
