.footer{
    margin:50 px 170px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.footer hr{
    border: 2px solid #DF8908;
}

@media (max-width:420px){
    .footer{
        margin: 0px 20px;
    }
}
