*{
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  background: #161513;
  color: white;
  font-family: 'outfit';
  scale: 0.9;
}
/*
@media(max-width:900px){
  .projects, .about, .navbar, .hero, .contact, .footer{
    display: none;
  }
  .err{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    height:100vh;
    font-size: 2rem;
    background-color:black;
    color: bisque;
}
}
*/