*{
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  background: #161513;
  color: white;
  font-family: 'outfit';
  scale: 0.9;
}

@media(max-width:420px){
  .back-to-top{
    display: none;
  }  
}

