.back-to-top {
    position:sticky;
    bottom: 6px;
    margin-left: -20px;
    font-size: 60px;
    cursor: pointer;
    transition: 0.3s;
    color: #DA7C25;
    border: 2px solid white;
    border-radius: 50%;
    background-color: black;
    padding:0px 0px 0px 21px;
    width:60px;
    opacity: 0; 
    visibility: hidden; 
    animation: movebtn 2s infinite;
  }

  @keyframes movebtn {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .back-to-top:hover{
    border:2px solid #DA7C25;
    scale: 1.05;
    transition: 0.5s;
    color: white;
    animation-play-state: paused;
  }
  
  .back-to-top.visible {
    opacity: 1; 
    visibility: visible; 
  }
  
  @media (max-width:420px){
   .back-to-top{
    font-size: 50px;
    border-radius: 30%;
    border: 0ch;
    background: #161513;
    width: 10px;
    scrollbar-color: orange;
    padding: 2%;
    opacity: 0; 
    visibility: hidden;
   }
   .back-to-top:hover{
    border:0ch;
    scale: 1.05;
    transition: 0.5s;
    color: white;
    animation-play-state: paused;
    padding: 2%;
    width: 10px;
   }
  }
 